<div class="container my-5">
  <div class="row">

    <!--Amount-->
    <div class="justify-content-center mb-3">
      <div class="d-flex justify-content-center">
        <p class="m-3 pt-4" style="color: rgb(30, 30, 30); font-weight: bold; display:inline;">總支出:</p>
        <h1 class="text-center"
          style="color: tomato; font-family: 'Montserrat', sans-serif; font-size:5em; display:inline;">
          {{total}}
        </h1>
      </div>
    </div>
    <!--Creat & Category-->
    <div class=" justify-content-center mb-3">
      <div class="d-flex justify-content-between">
        <form action="/records/new" method="GET" style="display: inline;">
          <button class="btn btn-dark" type="submit">新增</button>
        </form>
        <div class="dropdow" style="display: inline;">
          <button class="btn btn-dark dropdown-toggle" type="button" id="categoryFilter" data-bs-toggle="dropdown"
            aria-expanded="false">
            支出類別篩選
          </button>
          <ul class="dropdown-menu" aria-labelledby="categoryFilter">
            <li><a class="dropdown-item" href="/">全部支出</a></li>
            <li><a class="dropdown-item" href="/filter/living">家居物業</a></li>
            <li><a class="dropdown-item" href="/filter/traffic">交通出行</a></li>
            <li><a class="dropdown-item" href="/filter/entertainment">休閒娛樂</a></li>
            <li><a class="dropdown-item" href="/filter/foods">餐飲食品</a></li>
            <li><a class="dropdown-item" href="/filter/other">其他支出</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!--LIST-->
    <div class="justify-content-center">
      <ul class="list-group ">
        {{#each records}}
        <li class="list-group-item">
          <div class="d-flex justify-content-between">

            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center me-4">
                <i class="{{this.icon}} fa-2x"
                  style="font-size:30px; line-height:15%; width: 30px; color:rgb(60, 96, 161);"></i>
              </div>

              <div class="d-flex flex-column">
                <p class="m-0" style="font-family: font-family: 'Overpass', sans-serif;">{{this.name}}</p>
                <p class="m-0" style="font-family: font-family: 'Overpass', sans-serif;">{{this.date}}</p>
                <p class="m-0"
                  style="color:darkgrey; font-family: font-family: 'Overpass', sans-serif; font-size:12px;">
                  {{this.category_cn}}</p>
              </div>
            </div>

            <div class="d-flex align-items-center">
              <p class="text-nowrap m-0">{{this.amount}}</p>
            </div>

            <div class="d-flex justify-content-end">
              <div class="d-flex align-items-center pe-3">
                <form action="/records/{{this._id}}" method="GET" style="display:inline">
                  <button class="btn btn-outline-success">
                    編輯
                  </button>
                </form>
              </div>
              <div class="d-flex align-items-center ps-1">
                <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display:inline"
                  onsubmit="return onSubmit()">
                  <button class="btn btn-outline-danger">
                    刪除
                  </button>
                </form>
              </div>
            </div>


          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>

</div>